<h1>specialties:</h1>

<ul>
#foreach($specialty in $specialties)

  <li><a href="/specialties/$specialty.getId()">$specialty.getSpecialty()</a></li>

#end
</ul>

<form action='/' method='post'>
  <div class='form-group'>
    <label>add new specialty</label>
    <input type="text" name="newSpecialty" id="newSpecialty" class="form-control">
  </div>
  <button type="submit" class='btn'>Submit!</button>
</form>
